
{% extends 'base.html' %}

{% block main %}
<section class="section">
    <div class="container">

<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>


{% if query %}
    <!-- Begin faceting. -->
    <h2>By Author</h2>

    <div>
        <dl>
            {% if facets.fields.artist %}
                <dt>Artist</dt>
                {# Provide only the top 5 authors #}
                {% for artist in facets.fields.artist|slice:":5" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=artist_exact:{{ artist.0|urlencode }}">{{ artist.0 }}</a> ({{ artist.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No artist facets.</p>
            {% endif %}

            {% if facets.fields.genre %}
                <dt>Genre</dt>
                {# Provide only the top 5 genres #}
                {% for genre in facets.fields.genre|slice:":5" %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=genre_exact:{{ genre.0|urlencode }}">{{ genre.0 }}</a> ({{ genre.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No genre facets.</p>
            {% endif %}
        </dl>
    </div>
    <!-- End faceting -->


    {% for facets in page_object %}
         {{ facets. }}
    {% endfor %}

    <!-- Display results... -->
    {% for result in page_object %}
        <div class="search_result">
            <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h3>

            <p>{{ result.object.body|truncatewords:80 }}</p>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}

     </div>
</section>
{% endblock %}
