
({% extends 'base.html' %}

{% block main %}
<section class="section">
    <div class="container">

      <div id="image" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <!-- Any other Bulma elements you want -->
          <image src="{{ transaction.page_image.image.url }}"></image>
        </div>
        <button onclick="closeModal()" class="modal-close is-large" aria-label="close"></button>
      </div>


    <div class="columns">
        <div class="column is-one-third">
          <h1 class="title">Transaction details</h1>
          <table class="table is striped is-bordered">
            <tr><td colspan="2">{{ transaction.notes }}</td></tr>
            <tr><th>Source volume</th><td><a onclick="openModal() " href="#" return="null" >{{ transaction.source }}, Ln.{{ transaction.entry_line }}, Pg. {{ transaction.entry_page }}</a></td></tr>
            <tr><th>Stock number</th><td>{{ transaction.stock_number }}</td></tr>
            <tr><th>Purchase date</th><td>{{ transaction.purchase_date }}</td></tr>
            <tr><th>Purchased from</th><td>{{ transaction.seller }}</td></tr>
            <tr><th>Purchase price</th><td>£{{ transaction.purchase_pounds }}</td></tr>
            <tr><th>Sold date</th><td>{{ transaction.sold_date }}</td></tr>
            <tr><th>Sold to</th><td>{{ transaction.buyer }}</td></tr>
            <tr><th>Sale price</th><td>£{{ transaction.sold_pounds }}</td></tr>
            <tr><th>Firm owner</th><td>{{ transaction.firm_owner }}</td></tr>


          </table>
       
        <div id="book" style="height:400px;background-color:black;">


        </div>


        </div>

        <div class="column is-one-third">
          <h1 class="title">Work detail</h1>
          <table class="table is striped is-bordered">
            <tr><th>Artist</th><td>{{ transaction.artist }}</td></tr>
            <tr><th>Artist ULAN</th><td><a href="http://www.getty.edu/vow/ULANFullDisplay?find=&role=&nation=&subjectid={{ transaction.artist.ulan_id }}" target="_blank">{{ transaction.artist.ulan_id }} (external link)</a></td></tr>
            <tr><th>Work</th><td>{{ transaction.work }}</td></tr>
            <tr><th>Genre</th><td>{{ transaction.work.genre }}</td></tr>
            <tr><th>External link</th><td><a href="{{ transaction.work.external_link }}" target="_blank">Gallery webpage</a></td></tr>
          </table>

	  <div  id="art" style="height:400px;background-color:black;">

	  </div>


        </div>

        <div class="column is-one-third">
          <h1 class="title">
            Associated locations
          </h1>
          <table class="table is-striped is-bordered">
            {% if transaction.artist.location %}
            <tr><th>Artist <img src="/static/js/images/marker-icon.png"/></th><td>{{ transaction.artist.location.description }}, {{ transaction.artist.location.display_name }}</td></tr>
            {% endif %}
            {% if transaction.owner.location %}
            <tr><th>Owner <img src="/static/js/images/marker-icon-red.png"/></th><td>{{ transaction.owner.location.description }}, {{ transaction.owner.location.display_name }}</td></tr>
            {% endif %}
{% if transaction.buyer.location %}
<tr><th>Buyer <img src="/static/js/images/marker-icon-green.png"/></th><td>{{ transaction.buyer.location.description }}, {{ transaction.buyer.location.display_name }}</td></tr>
{% endif %}
{% if transaction.seller.location %}
<tr><th>Seller <img src="/static/js/images/marker-icon.png"/></th><td>{{ transaction.seller.location.description }}, {{ transaction.seller.location.display_name }}</td></tr>
{% endif %}
          </table>
          <div id="map" style="height:400px;background-color:black;">
          </div>
        </div>
    </div>

    </div>
</section>


<script>

function openModal(){

  $("#image").addClass("is-active");
}

function closeModal(){

  $("#image").removeClass("is-active");
}




</script>
{% endblock %}



{% block footer_scripts %}              


<script>


var point;
var mymap;

$(document).ready(function() {


try {

mymap = L.map('map')

OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 6,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(mymap);

artist_point  = new L.geoJson({{ transaction.artist.location.point.geojson|safe }} ).addTo(mymap)
// var point = L.marker([ {{ transaction.artist.location.point.y }}, {{ transaction.artist.location.point.x }} ]).addTo(mymap);
owner_point =  new L.geoJson({{ transaction.owner.location.point.geojson|safe }}).addTo(mymap)
buyer_point = new L.geoJson({{ transaction.buyer.location.point.geojson|safe }}).addTo(mymap)
seller_point = new L.geoJson({{ transaction.seller.location.point.geojson|safe }}).addTo(mymap)



mymap.setView([51,0],10);

mymap.fitBounds(artist_point.getBounds());


}
catch (err) {
   // ah well
}



var book = L.map('book', {
  center: [0, 0],
  crs: L.CRS.Simple,
  zoom: 0
});


L.tileLayer.iiif('https://loris.cch.kcl.ac.uk/ngda/webroot/images/jp2/{{ transaction.page_image.image }}/info.json',
        {maxZoom:10,
         tileSize:512}
).addTo(book);



var art = L.map('art', {
  center: [0, 0],
  crs: L.CRS.Simple,
  zoom: 0
});


//L.tileLayer.iiif('https://loris.cch.kcl.ac.uk/ngda/webroot/images/jp2/works/N-1420-00-000025-wpu.jpg/info.json',
{% for image in transaction.work.workimage_set.all %}
L.tileLayer.iiif('https://loris.cch.kcl.ac.uk/ngda/webroot/dev/django/ngda-django/static/media/{{ image.image.name }}/info.json',
	{maxZoom:10,
         tileSize:512}
).addTo(art);
{% endfor %}



});

</script>

{% endblock %}
